<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Vintasoft.Barcode" version="12.0.7.1" targetFramework="net45" />
  <package id="Vintasoft.Imaging" version="8.8.0.5" targetFramework="net45" />
  <package id="Vintasoft.Imaging.Annotation" version="8.8.0.5" targetFramework="net45" />
  <package id="Vintasoft.Imaging.Annotation.Pdf" version="2.8.0.5" targetFramework="net45" />
  <package id="Vintasoft.Imaging.Dicom" version="1.8.0.5" targetFramework="net45" />
  <package id="Vintasoft.Imaging.DocCleanup" version="3.8.0.5" targetFramework="net45" />
  <package id="Vintasoft.Imaging.Jbig2Codec" version="5.8.0.5" targetFramework="net45" />
  <package id="Vintasoft.Imaging.Jpeg2000Codec" version="4.8.0.5" targetFramework="net45" />
  <package id="Vintasoft.Imaging.Media" version="2.8.0.5" targetFramework="net45" />
  <package id="Vintasoft.Imaging.Pdf" version="5.8.0.5" targetFramework="net45" />
  <package id="Vintasoft.Imaging.Pdf.Mrc" version="1.8.0.5" targetFramework="net45" />
  <package id="Vintasoft.Imaging.RawCodec" version="2.8.0.5" targetFramework="net45" />
  <package id="Vintasoft.Shared" version="1.3.1.1" targetFramework="net45" />
  <package id="Vintasoft.Twain.AnyCPU" version="10.3.8.1" targetFramework="net45" />
</packages>